.facets {
    @apply rounded-md p-0 bg-gray-700 absolute top-[120%] right-0 hidden empty:hidden w-full md:w-80;
}

.facets.facetsOpen {
    @apply block z-10;
}

.searchInput {
    @apply w-full mt-0 mb-0;
}

.input {
    @apply appearance-none block w-full bg-transparent py-3 px-4 leading-tight focus:outline-none text-gray-200 border-none;
}

/* clears the 'X' from Internet Explorer */
.input input::-ms-clear,
.input input::-ms-reveal {
    @apply hidden w-0 h-0;
}

/* clears the 'X' from Chrome */
.input input::-webkit-search-decoration,
.input input::-webkit-search-cancel-button,
.input input::-webkit-search-results-button,
.input input::-webkit-search-results-decoration {
    @apply hidden;
}
