.container {
    @apply flex items-center;
}

.input,
.message {
    @apply text-gray-200;
}

.paste {
    @apply text-[0] cursor-pointer appearance-none bg-none border-0 p-0 text-gray-200 hover:text-gray-500 focus:text-gray-500;
}

.icon {
    @apply w-6 h-6;
}

.message {
    @apply absolute will-change-[opacity] left-0 right-0 top-0 bottom-0 flex items-center bg-gray-800 text-gray-200;

    transition: opacity 0.4s ease;
}

.message.icon {
    @apply mr-2 text-gray-300;
}

.transitionStart {
    @apply opacity-0;
}

.transitionFinish {
    @apply opacity-100;
}
