@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');

    body {
        @apply bg-gray-800 text-gray-300 font-medium;
        font-family: 'Inter', sans-serif;
    }

    /* Use this class inside a container to create a block that breaks outside of fixed width 
    ** and stretches to the entire screen width 
    */
    .full-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}