@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

    body {
        @apply bg-gray-800 text-gray-300 font-normal;
        font-family: 'Inter', sans-serif;
    }

    /* Use this class inside a container to create a block that breaks outside of fixed width 
    ** and stretches to the entire screen width 
    */
    .full-width {
        @apply w-screen relative left-1/2 right-1/2 ml-[-50vw] mr-[-50vw];
    }

    .lg\:full-width {
        @apply lg:w-screen lg:relative lg:left-1/2 lg:right-1/2 lg:ml-[-50vw] lg:mr-[-50vw];
    }

    .default-link {
        @apply text-blue-400 hover:text-blue-500 focus:text-blue-500 focus:outline-none;
    }

    .default-input {
        @apply block py-2.5 px-3 rounded-md border border-gray-600 leading-7;
        @apply shadow-inner focus:outline-none focus:ring focus:ring-blue-300;
    }

    .default-well {
        @apply bg-gray-700 bg-opacity-60;
    }

    .svg-icon {
        @apply w-6 h-6;
    }

    .image-full-height {
        @apply h-full;
    }
}