.prezly-slate-document {
    @apply text-gray-300 text-base leading-7 !important;
}

.prezly-slate-document .prezly-slate-image,
.prezly-slate-document .prezly-slate-embed {
    @apply my-16;
}

.prezly-slate-document .prezly-slate-image__caption {
    @apply pt-4 text-base leading-7 text-gray-400 not-italic;
}

.prezly-slate-document > h1,
.prezly-slate-document > h2,
.prezly-slate-document > h3,
.prezly-slate-document > h4,
.prezly-slate-document > h5,
.prezly-slate-document > h6 {
    @apply mt-10 mb-3 font-semibold;
}

.prezly-slate-document > h1 {
    @apply text-4xl;
}

.prezly-slate-document > h2 {
    @apply text-2xl;
}

.prezly-slate-document > h3 {
    @apply text-xl;
}

.prezly-slate-document > h4 {
    @apply text-lg;
}

.prezly-slate-document > h5 {
    @apply text-base;
}

.prezly-slate-document > h6 {
    @apply text-base leading-7;
}

.story-blockquote {
    @apply flex flex-col md:flex-row flex-nowrap p-6 rounded-xl my-10;
    @apply text-gray-200 text-lg leading-8 font-medium;
}

.story-blockquote-icon {
    @apply w-6 h-6 text-blue-400 flex-shrink-0;
}

.story-blockquote-icon--inverted {
    @apply transform rotate-180 self-end;
}

.prezly-slate-document .prezly-slate-image-rollover__dim {
    @apply bg-gray-700;
}

.prezly-slate-document .prezly-slate-image-rollover:focus-within .prezly-slate-image-rollover__dim, 
.prezly-slate-document .prezly-slate-image-rollover:hover .prezly-slate-image-rollover__dim {
    opacity: 0.7;
}

.prezly-slate-document .prezly-slate-image-rollover__caption-icon-container {
    @apply bg-gray-800 p-2.5;
}

.prezly-slate-lightbox {
    @apply bg-gray-800 !important;
}

.prezly-slate-lightbox__image-container {
    @apply mt-16 mb-8 !important;
}

.prezly-slate-lightbox__caption {
    @apply text-gray-400 not-italic text-base leading-7 mb-12 !important;
}

.prezly-slate-lightbox__download {
    @apply bg-blue-600 hover:bg-blue-500 active:bg-blue-400 py-2 px-3 text-base rounded-md !important;
}

.prezly-slate-lightbox__nav-button {
    @apply text-gray-400 hover:text-gray-100 !important;
}

.prezly-slate-lightbox__close {
    @apply text-gray-400 hover:text-gray-100 p-3 !important;
}

.prezly-slate-lightbox__close-icon {
    @apply w-8 h-8 !important;
}