.bar {
    @apply hidden fixed top-0 left-0 right-0 h-[0.375rem] bg-gray-600 z-[999];

    animation: grow ease-out 15s;
}

.bar.visible {
    @apply block;
}

@keyframes grow {
    0% {
        width: 0%;
    }

    20% {
        width: 80%;
    }

    100% {
        width: 100%;
    }
}
